In [80]:
import os
import pandas
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
import joblib

In [64]:
test_df = pd.read_csv("../data/test.csv")
train_df = pd.read_csv("../data/train.csv")

In [65]:
train_df.info()
print("\n")
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45593 entries, 0 to 45592
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   order_id                      45593 non-null  object
 1    delivery_person_id           45593 non-null  object
 2    delivery_person_age          45593 non-null  object
 3    delivery_person_ratings      45593 non-null  object
 4    restaurant_latitude          45593 non-null  float64
 5    restaurant_longitude         45593 non-null  float64
 6    delivery_location_latitude   45593 non-null  float64
 7    delivery_location_longitude  45593 non-null  float64
 8    order_date                   45593 non-null  object
 9    time_ordered                 45593 non-null  object
 10   time_order_picked            45593 non-null  object
 11   weather_conditions           45593 non-null  object
 12   road_traffic_density         45593 non-null  object
 13   vehicle_condition            45593 non-null  int64
 14   order_type                   45593 non-null  object
 15   vehicle_type                 45593 non-null  object
 16   multiple_deliveries          45593 non-null  object
 17   is_festival                  45593 non-null  object
 18   city                         45593 non-null  object
 19  time_taken_minutes            45593 non-null  object
dtypes: float64(4), int64(1), object(15)
memory usage: 7.0+ MB


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11399 entries, 0 to 11398
Data columns (total 19 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   order_id                      11399 non-null  object
 1    delivery_person_id           11399 non-null  object
 2    delivery_person_age          11399 non-null  object
 3    delivery_person_ratings      11399 non-null  object
 4    restaurant_latitude          11399 non-null  float64
 5    restaurant_longitude         11399 non-null  float64
 6    delivery_location_latitude   11399 non-null  float64
 7    delivery_location_longitude  11399 non-null  float64
 8    order_date                   11399 non-null  object
 9    time_ordered                 11399 non-null  object
 10   time_order_picked            11399 non-null  object
 11   weather_conditions           11399 non-null  object
 12   road_traffic_density         11399 non-null  object
 13   vehicle_condition            11399 non-null  int64
 14   order_type                   11399 non-null  object
 15   vehicle_type                 11399 non-null  object
 16   multiple_deliveries          11399 non-null  object
 17   is_festival                  11399 non-null  object
 18   city                         11399 non-null  object
dtypes: float64(4), int64(1), object(14)
memory usage: 1.7+ MB

In [66]:
# Too many `object` types to normalize easily, we have to figure out how to handle them

train_object_cols = train_df.select_dtypes(include=["object"])
test_object_cols = test_df.select_dtypes(include=["object"])

for col in train_object_cols:
	print(f"Train - Column: {col}, Unique Values: {train_df[col].nunique()}")
	print(train_df[col].value_counts())
	print("\n")

for col in test_object_cols:
	print(f"Test - Column: {col}, Unique Values: {test_df[col].nunique()}")
	print(test_df[col].value_counts())
	print("\n")

Train - Column: order_id, Unique Values: 45593
order_id
0x4607     1
0xb379     1
0x5d6d     1
0x7a6a     1
0x70a2     1
          ..
0x7c09     1
0xd641     1
0x4f8d     1
0x5eee     1
0x5fb2     1
Name: count, Length: 45593, dtype: int64


Train - Column:  delivery_person_id, Unique Values: 1320
 delivery_person_id
PUNERES01DEL01       67
JAPRES11DEL02        67
VADRES08DEL02        66
RANCHIRES02DEL01     66
HYDRES04DEL02        66
                     ..
BHPRES15DEL03         7
GOARES01DEL03         7
KOLRES09DEL03         6
KOCRES16DEL03         6
BHPRES010DEL03        5
Name: count, Length: 1320, dtype: int64


Train - Column:  delivery_person_age, Unique Values: 23
 delivery_person_age
35      2262
36      2260
37      2227
30      2226
38      2219
24      2210
32      2202
22      2196
29      2191
33      2187
28      2179
25      2174
34      2166
26      2159
21      2153
27      2150
39      2144
20      2136
31      2120
23      2087
NaN     1854
50        53
15        38
Name: count, dtype: int64


Train - Column:  delivery_person_ratings, Unique Values: 29
 delivery_person_ratings
4.8     7148
4.7     7142
4.9     7041
4.6     6940
5       3996
4.5     3303
NaN     1908
4.1     1430
4.2     1418
4.3     1409
4.4     1361
4       1077
3.5      249
3.8      228
3.7      225
3.6      207
3.9      197
6         53
1         38
3.4       32
3.1       29
3.2       29
3.3       25
2.6       22
2.7       22
2.5       20
2.8       19
2.9       19
3          6
Name: count, dtype: int64


Train - Column:  order_date, Unique Values: 44
 order_date
15-03-2022    1192
03-04-2022    1178
13-03-2022    1169
26-03-2022    1166
24-03-2022    1162
09-03-2022    1159
05-04-2022    1157
05-03-2022    1154
07-03-2022    1153
03-03-2022    1150
19-03-2022    1150
11-03-2022    1149
21-03-2022    1149
30-03-2022    1141
01-03-2022    1140
28-03-2022    1139
17-03-2022    1134
01-04-2022    1133
02-03-2022    1012
10-03-2022     996
16-03-2022     995
20-03-2022     994
02-04-2022     992
06-03-2022     986
04-03-2022     981
29-03-2022     977
25-03-2022     975
14-03-2022     974
11-02-2022     970
18-03-2022     968
31-03-2022     967
27-03-2022     965
23-03-2022     964
08-03-2022     964
12-03-2022     964
06-04-2022     961
13-02-2022     957
15-02-2022     945
04-04-2022     941
17-02-2022     939
12-02-2022     864
16-02-2022     861
18-02-2022     855
14-02-2022     851
Name: count, dtype: int64


Train - Column:  time_ordered, Unique Values: 177
 time_ordered
NaN         1731
21:55:00     461
17:55:00     456
20:00:00     449
22:20:00     448
            ...
12:25:00      57
14:15:00      56
16:00:00      53
13:20:00      52
16:30:00      51
Name: count, Length: 177, dtype: int64


Train - Column:  time_order_picked, Unique Values: 193
 time_order_picked
21:30:00    496
22:50:00    474
22:40:00    458
18:40:00    457
21:45:00    456
           ...
08:15:00     48
16:15:00     46
16:10:00     43
17:10:00     39
16:20:00     38
Name: count, Length: 193, dtype: int64


Train - Column:  weather_conditions, Unique Values: 7
 weather_conditions
conditions Fog           7654
conditions Stormy        7586
conditions Cloudy        7536
conditions Sandstorms    7495
conditions Windy         7422
conditions Sunny         7284
conditions NaN            616
Name: count, dtype: int64


Train - Column:  road_traffic_density, Unique Values: 5
 road_traffic_density
Low        15477
Jam        14143
Medium     10947
High        4425
NaN          601
Name: count, dtype: int64


Train - Column:  order_type, Unique Values: 4
 order_type
Snack      11533
Meal       11458
Drinks     11322
Buffet     11280
Name: count, dtype: int64


Train - Column:  vehicle_type, Unique Values: 4
 vehicle_type
motorcycle           26435
scooter              15276
electric_scooter      3814
bicycle                 68
Name: count, dtype: int64


Train - Column:  multiple_deliveries, Unique Values: 5
 multiple_deliveries
1       28159
0       14095
2        1985
NaN       993
3         361
Name: count, dtype: int64


Train - Column:  is_festival, Unique Values: 3
 is_festival
No      44469
Yes       896
NaN       228
Name: count, dtype: int64


Train - Column:  city, Unique Values: 4
 city
Metropolitian     34093
Urban             10136
NaN                1200
Semi-Urban          164
Name: count, dtype: int64


Train - Column: time_taken_minutes, Unique Values: 45
time_taken_minutes
(min) 26    2123
(min) 25    2050
(min) 27    1976
(min) 28    1965
(min) 29    1956
(min) 19    1824
(min) 15    1810
(min) 18    1765
(min) 16    1706
(min) 17    1696
(min) 24    1680
(min) 23    1643
(min) 20    1640
(min) 22    1626
(min) 21    1601
(min) 33    1259
(min) 30    1218
(min) 31    1213
(min) 34    1172
(min) 32    1124
(min) 38     887
(min) 36     852
(min) 39     847
(min) 35     832
(min) 37     828
(min) 11     757
(min) 10     750
(min) 12     746
(min) 14     739
(min) 13     716
(min) 43     567
(min) 42     561
(min) 40     555
(min) 44     553
(min) 41     553
(min) 47     295
(min) 49     280
(min) 48     277
(min) 46     274
(min) 45     241
(min) 53     100
(min) 51      94
(min) 54      91
(min) 52      79
(min) 50      72
Name: count, dtype: int64


Test - Column: order_id, Unique Values: 11399
order_id
0x2318     1
0x3474     1
0x9420     1
0x72ee     1
0xa759     1
          ..
0x6909     1
0x443b     1
0x1ea5     1
0x22d4     1
0xb7be     1
Name: count, Length: 11399, dtype: int64


Test - Column:  delivery_person_id, Unique Values: 1297
 delivery_person_id
MUMRES11DEL02       24
COIMBRES01DEL01     24
SURRES07DEL02       23
PUNERES04DEL01      23
COIMBRES13DEL01     23
                    ..
KOCRES07DEL01        1
LUDHRES02DEL03       1
DEHRES04DEL03        1
GOARES09DEL03        1
BHPRES03DEL01        1
Name: count, Length: 1297, dtype: int64


Test - Column:  delivery_person_age, Unique Values: 23
 delivery_person_age
30      579
28      569
33      556
20      555
38      551
21      549
37      549
29      548
35      547
34      547
26      545
32      545
24      544
27      543
23      541
39      536
31      535
22      522
36      521
25      507
NaN     491
50       10
15        9
Name: count, dtype: int64


Test - Column:  delivery_person_ratings, Unique Values: 29
 delivery_person_ratings
4.9     1863
4.8     1790
4.7     1723
4.6     1663
5        999
4.5      843
NaN      507
4.2      351
4.3      341
4.4      326
4.1      311
4        295
3.5       66
3.9       62
3.7       59
3.6       51
3.8       51
3.3       13
2.6       12
3.4       12
6         10
1          9
3.1        8
2.5        8
2.7        7
2.9        7
3.2        7
2.8        3
3          2
Name: count, dtype: int64


Test - Column:  order_date, Unique Values: 44
 order_date
01-04-2022    307
17-03-2022    306
28-03-2022    301
01-03-2022    300
30-03-2022    299
11-03-2022    291
21-03-2022    291
03-03-2022    290
19-03-2022    290
07-03-2022    287
05-03-2022    286
05-04-2022    283
09-03-2022    281
04-04-2022    279
24-03-2022    278
26-03-2022    274
13-03-2022    271
03-04-2022    262
17-02-2022    261
06-04-2022    259
12-03-2022    256
23-03-2022    256
08-03-2022    256
27-03-2022    255
15-02-2022    255
31-03-2022    253
18-03-2022    252
15-03-2022    248
14-03-2022    246
25-03-2022    245
29-03-2022    243
13-02-2022    243
04-03-2022    239
06-03-2022    234
11-02-2022    230
02-04-2022    228
14-02-2022    227
20-03-2022    226
16-03-2022    225
10-03-2022    224
18-02-2022    223
16-02-2022    217
12-02-2022    214
02-03-2022    208
Name: count, dtype: int64


Test - Column:  time_ordered, Unique Values: 177
 time_ordered
NaN         444
18:20:00    123
23:30:00    122
20:55:00    122
19:15:00    120
           ...
15:00:00     11
13:35:00     11
14:00:00     11
13:25:00     10
12:35:00     10
Name: count, Length: 177, dtype: int64


Test - Column:  time_order_picked, Unique Values: 193
 time_order_picked
19:25:00    133
23:35:00    129
18:40:00    127
23:50:00    125
17:45:00    124
           ...
12:50:00     11
13:10:00     10
12:20:00      8
14:10:00      7
15:10:00      4
Name: count, Length: 193, dtype: int64


Test - Column:  weather_conditions, Unique Values: 7
 weather_conditions
conditions Sunny         1975
conditions Windy         1948
conditions Sandstorms    1878
conditions Cloudy        1861
conditions Stormy        1811
conditions Fog           1768
conditions NaN            158
Name: count, dtype: int64


Test - Column:  road_traffic_density, Unique Values: 5
 road_traffic_density
Low        3881
Jam        3503
Medium     2751
High       1110
NaN         154
Name: count, dtype: int64


Test - Column:  order_type, Unique Values: 4
 order_type
Drinks     2920
Buffet     2870
Snack      2815
Meal       2794
Name: count, dtype: int64


Test - Column:  vehicle_type, Unique Values: 4
 vehicle_type
motorcycle           6609
scooter              3817
electric_scooter      950
bicycle                23
Name: count, dtype: int64


Test - Column:  multiple_deliveries, Unique Values: 5
 multiple_deliveries
1       7065
0       3491
2        513
NaN      238
3         92
Name: count, dtype: int64


Test - Column:  is_festival, Unique Values: 3
 is_festival
No      11131
Yes       203
NaN        65
Name: count, dtype: int64


Test - Column:  city, Unique Values: 4
 city
Metropolitian     8497
Urban             2533
NaN                324
Semi-Urban          45
Name: count, dtype: int64

In [86]:
# We have 2 different datasets with one of them lacking the target column, so the logic is extracted into a function for DRY purposes
def process_data(df: pd.DataFrame) -> pd.DataFrame:
	# Copy to avoid modifying the original DataFrame
	df_processed = df.copy()

	# Strip spaces from column names
	df_processed.columns = df_processed.columns.str.strip()

	# There are some string entries that have leading/trailing spaces, we remove them. Especially important before the NaN replacement, as those do not get replaced otherwise.
	for column in df_processed.columns:
		if df_processed[column].dtype == "object":
			df_processed[column] = df_processed[column].str.strip()

	# Get rid of string nan values
	nan_strings = ["NaN", "conditions NaN"]
	df_processed.replace(nan_strings, np.nan, inplace=True)

	coord_cols = ["restaurant_latitude", "restaurant_longitude", "delivery_location_latitude", "delivery_location_longitude"]
	# Some latitude/longitude values are 0. This is likely a data quality issue as well, most likely from geocoding failures.
	# According to https://en.wikipedia.org/wiki/Null_Island it's common to use (0,0) as a placeholder for missing lat/lon values.
	# We can replace the values at and around (0,0) with NaN.
	zero_threshold = 0.3

	# These are already numeric in the dataset, but just in case we convert them to numeric and coerce errors to NaN
	# We also take absolute values to mitigate issues with negative values in lat/lon as it's unlikely that a food delivery would cross hemispheres
	for column in coord_cols:
		df_processed[column] = pd.to_numeric(df_processed[column], errors='coerce').abs()

	# We can't do this in a for loop because we need to check both latitude and longitude at the same time
	df_processed.loc[
		(df_processed["restaurant_latitude"].abs() < zero_threshold) & (df_processed["restaurant_longitude"].abs() < zero_threshold),
		coord_cols
	] = np.nan
	df_processed.loc[
		(df_processed["delivery_location_latitude"].abs() < zero_threshold) & (df_processed["delivery_location_longitude"].abs() < zero_threshold),
		coord_cols
	] = np.nan

	# `conditions ` suffix is redundant in weather_conditions, as it's implied by the column name.
	# We remove it so the column name after one-hot encoding is cleaner.
	df_processed["weather_conditions"] = df_processed["weather_conditions"].str.replace("conditions ", "", regex=False)

	# Extract numeric part from time_taken_minutes and convert to float for the training df
	if "time_taken_minutes" in df_processed.columns:
		df_processed["time_taken_minutes"] = df_processed["time_taken_minutes"].str.extract(r"(\d+)").astype(float)

	# Some numeric columns are stored as strings, we convert them to numeric types
	numeric_cols = ["delivery_person_age", "delivery_person_ratings", "multiple_deliveries"]
	for column in numeric_cols:
		if column in df_processed.columns:
			df_processed[column] = pd.to_numeric(df_processed[column], errors="coerce")

	df_processed["order_date"] = pd.to_datetime(df_processed["order_date"], format="%d-%m-%Y", errors="coerce")

	# Impute missing values that we use for feature engineering. The rest will be handled in the pipeline later.
	df_processed.fillna({"order_date": df_processed["order_date"].mode()[0]}, inplace=True)
	df_processed.fillna({"time_ordered": df_processed["time_ordered"].mode()[0]}, inplace=True)
	df_processed.fillna({"time_order_picked": df_processed["time_order_picked"].mode()[0]}, inplace=True)

	# Convert time columns to datetime
	df_processed["order_datetime"] = pd.to_datetime(df_processed["order_date"].astype(str) + " " + df_processed["time_ordered"])
	df_processed["picked_datetime"] = pd.to_datetime(df_processed["order_date"].astype(str) + " " + df_processed["time_order_picked"])

	# --- Feature engineering ---

	# Distance-based features

	# There's a small problem with the latitude/longitude columns. We can't really use them as-is, because the data is localized to a specific city/region.
	# The model trained from them wouldn't generalize well to other locations.
	# To solve this, we can calculate the distance between the restaurant and the delivery.
	# Source of the formula: https://stackoverflow.com/questions/27928/calculate-distance-between-two-latitude-longitude-points-haversine-formula

	def haversine_distance(lat1: float, lon1: float, lat2: float, lon2: float) -> float:
		# Our input is in degrees, we need to convert it to radians
		lat1_rad, lon1_rad = np.radians(lat1), np.radians(lon1)
		lat2_rad, lon2_rad = np.radians(lat2), np.radians(lon2)
		dlat = lat2_rad - lat1_rad
		dlon = lon2_rad - lon1_rad
		a = (np.sin(dlat / 2) ** 2) + (np.cos(lat1_rad) * np.cos(lat2_rad) * (np.sin(dlon / 2) ** 2))
		r = 6371  # Earth's radius in kilometers
		c = 2 * np.atan2(np.sqrt(a), np.sqrt(1 - a))
		return r * c

	df_processed["distance_km"] = haversine_distance(
		df_processed["restaurant_latitude"], df_processed["restaurant_longitude"],
		df_processed["delivery_location_latitude"], df_processed["delivery_location_longitude"]
	)

	# We have some NaN values we filled in earlier, so we handle them here by imputing the median distance
	distance_median = df_processed["distance_km"].median()
	df_processed.fillna({"distance_km": distance_median}, inplace=True)

	# Time-based features
	df_processed["time_to_pickup_minutes"] = (df_processed["picked_datetime"] - df_processed["order_datetime"]).dt.total_seconds() / 60.0
	df_processed["order_hour"] = df_processed["order_datetime"].dt.hour
	df_processed["order_day_of_week"] = df_processed["order_datetime"].dt.dayofweek  # Indices based on monday=0, sunday=6
	# We can't really use day of month or year as features because our data is from 2-3 months in 2022 only, so it wouldn't generalize well

	# Cyclical features for hour and day of week
	df_processed["order_hour_sin"] = np.sin(2 * np.pi * df_processed["order_hour"] / 24)
	df_processed["order_hour_cos"] = np.cos(2 * np.pi * df_processed["order_hour"] / 24)
	df_processed["order_day_of_week_sin"] = np.sin(2 * np.pi * df_processed["order_day_of_week"] / 7)
	df_processed["order_day_of_week_cos"] = np.cos(2 * np.pi * df_processed["order_day_of_week"] / 7)

	# Since traffic is ordinal, we can map it to integers
	traffic_mapping = {
		"Low": 1,
		"Medium": 2,
		"High": 3,
		"Jam": 4
	}
	df_processed["road_traffic_density"] = df_processed["road_traffic_density"].map(traffic_mapping)

	# We can drop the columns we used to create the features
	cols_to_drop = [
		"order_id", "delivery_person_id",  # IDs
		"restaurant_latitude", "restaurant_longitude", "delivery_location_latitude", "delivery_location_longitude",  # Raw lat/lon values
		"time_ordered", "time_order_picked", "order_date", "order_datetime", "picked_datetime",  # Raw time values
		"order_hour", "order_day_of_week"  # We have cyclical features for these now
	]
	df_processed = df_processed.drop(columns=cols_to_drop, errors="ignore")

	return df_processed

In [88]:
test_df_processed = process_data(test_df)
train_df_processed = process_data(train_df)

# Split features and target
y_train = train_df_processed["time_taken_minutes"]
X_train = train_df_processed.drop(columns=["time_taken_minutes"])
X_test = test_df_processed

# Align columns in test set to match train set
train_cols = X_train.columns
test_cols = X_test.columns
X_train, X_test = X_train.align(X_test, join="inner", axis=1)

print(f"X_train shape: {X_train.shape}, y_train shape: {y_train.shape}")
print(f"X_test shape: {X_test.shape}")

X_train shape: (45593, 16), y_train shape: (45593,)
X_test shape: (11399, 16)

In [89]:
numerical_cols = X_train.select_dtypes(include=np.number).columns.tolist()
categorical_cols = X_train.select_dtypes(include=["object"]).columns.tolist()

In [90]:
numerical_transformer = Pipeline(steps=[
	("imputer", SimpleImputer(strategy="median")),
	("scaler", StandardScaler())
], memory=None)

categorical_transformer = Pipeline(steps=[
	("imputer", SimpleImputer(strategy="most_frequent")),
	("onehot", OneHotEncoder(handle_unknown="ignore", drop="first"))
], memory=None)

preprocessor = ColumnTransformer(
	transformers=[
		("num", numerical_transformer, numerical_cols),
		("cat", categorical_transformer, categorical_cols)
	],
	remainder="passthrough",
)

print("Fitting the preprocessor...")
preprocessor.fit(X_train)
print("Preprocessor fitted.")

Fitting the preprocessor...
Preprocessor fitted.

In [91]:
X_train_final = preprocessor.transform(X_train)
X_test_final = preprocessor.transform(X_test)
print("Shape of final training features:", X_train_final.shape)
print("Shape of final testing features:", X_test_final.shape)
print("Shape of final training target:", y_train.shape)

Shape of final training features: (45593, 25)
Shape of final testing features: (11399, 25)
Shape of final training target: (45593,)

In [92]:
os.makedirs("../processed", exist_ok=True)
joblib.dump(preprocessor, "../processed/preprocessor.joblib")
np.save("../processed/X_train_final.npy", X_train_final)
np.save("../processed/X_test_final.npy", X_test_final)
y_train.to_csv("../processed/y_train.csv", index=False, header=True)  # This doesn't have to be a numpy array